body {
  margin: 1rem;
  display: flex;
  gap: 1rem;
  font-family: Arial, sans-serif;
  flex-direction: column;
  width: 12rem;
}

input {
  padding: 0.5rem;
}

button {
  background: black;
  color: white;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 1.5rem;
}

button:active {
  background: url(bomb.png) no-repeat center;
  background-size: 2rem;
  background-color: black;
  font-size: 0;
}
